

  <strong>Tittle:</strong>
  <%= @product.tittle %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@product.price)%>
</p>

<div class="btn-group">
  <button type="button" class="btn btn-default"> <%= link_to 'Edit', edit_product_path(@product) %> </button>
  <button type="button" class="btn btn-default"><%= link_to 'Back', products_path %></button>
  

</div>


